<div class="container mt-5">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>ProductId</th>
                <th>ProductName</th>
                <th>Price</th>
                <th>Category</th>
                <th>Availability</th>
                <!-- <th>Delete From Cart</th> -->
                <th>Add To Cart</th>
                <!-- <th>Bill</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let medicine of medicines'>
                <td>{{medicine.productId}}</td>
                <td>{{medicine.productName}}</td>
                <td>{{medicine.price}}</td>
                <td>{{medicine.category}}</td>
                <td>{{medicine.available}}</td>
              
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                    (click)='addMedicineToCart(medicine)'>
                    Add To Cart
                </button>

                
                  <!-- <td>
                    <button type="submit" class="btn btn-danger"
                        (click)='deleteMedicineFromCart(medicine)'>Delete</button>
                </td> -->

                <!-- Modal
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add Medicine To Cart</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="col-md-4 offset-md-4 mt-5">
                                    <form #addCartMedicine="ngForm" (ngSubmit)="submitForm(addCartMedicine)">
                                        <div class="form-group">
                                            <label for="userid">User ID:</label>
                                            <input type="number" name="userid" class="form-control" #userid="ngModel"
                                                ngModel required>
                                        </div>
                                        <div class="form-group">
                                            <label for="medicineid">Medicine Price:</label>
                                            <input type="number" name="medicineid" class="form-control"
                                                #medicineid="ngModel" ngModel required>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="reset" class="btn btn-secondary" data-dismiss="modal">Reset</button>
                                <button type="submit" class="btn btn-primary" [disabled]='addCartMedicine.invalid'
                                    (click)=''>Add</button>
                            </div>
                        </div>
                    </div>
                </div> -->
            </tr>
        </tbody>
    </table>
</div>