<div class="container mt-5">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>ProductId</th>
                <th>ProductName</th>
                <th>Price</th>
                <th>Category</th>
                <th>Available</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let medicine of medicines'>
                <td>{{medicine.productId}}</td>
                <td>{{medicine.productName}}</td>
                <td>{{medicine.price}}</td>
                <td>{{medicine.category}}</td>
                <td>{{medicine.available}}</td>
                <td>
                    <button type="submit" class="btn btn-primary" (click)='deleteMedicine(medicine)'>Delete</button>
                </td> 
            </tr>
        </tbody>
    </table>
</div>