<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">Online Medical Shopping Store</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/all-medicines">Medicines</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/add-medicine">Add</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/update-medicine">Update</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/delete-medicine">Delete</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/user">All Users</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/remove-user">Remove Users</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/user-portal">User Portal</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/login">Login</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/register">Register</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <button class="btn btn-warning" (click)="logout()">
                    Logout
                </button>
        </ul>
    </div>
</nav>